Repository frontdesk-development/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @spotify/silver-lining, @backstage/silver-lining, @spotify/techdocs-core, @backstage/techdocs-core, @trivago/ebarrios

Improved output layout for the new project page
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/gcp-projects/src/components/NewProjectPage/templates.ts
Owners: @trivago/ebarrios

Added jira and bridge config to stage
  app-config.stage.yaml
Owners: @backstage/maintainers

Added gcp-delivery-workshop template
  app-config.stage.yaml
Owners: @backstage/maintainers

Added jira api version to stage
  app-config.stage.yaml
Owners: @backstage/maintainers

Updated package.json for bridge-app plugin
  plugins/bridge-app-plugin/package.json
Owners: @trivago/ebarrios

Added unsafe-eval to script-src
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
Owners: @backstage/maintainers

Added cloudfront.net to script-src
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
Owners: @backstage/maintainers

Added unsafe-eval and unsafe-inline to script-src
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
Owners: @backstage/maintainers

Added an extra api for stage testing to the bridge plugin
  plugins/bridge-app-plugin/src/api/index.ts
Owners: @trivago/ebarrios

Updated app-config for stage and dev
  app-config.stage.yaml
  app-config.yaml
Owners: @backstage/maintainers

Reflecting changes done to stage in the fly into the dev repo
  app-config.stage.yaml
  app-config.yaml
  plugins/bridge-app-plugin/src/api/index.ts
Owners: @backstage/maintainers, @trivago/ebarrios

Fixed indentation on app-config.stage.yaml
  app-config.stage.yaml
Owners: @backstage/maintainers

Updated app-config.prod for merging stage to prod
  app-config.prod.yaml
Owners: @backstage/maintainers

Reverted changed to the default drc policies
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
Owners: @backstage/maintainers

Improved looks bridge course list table
  plugins/bridge-app-plugin/src/components/CourseListPage/CourseListPage.tsx
Owners: @trivago/ebarrios

Bumped jira plugin to 0.2.1
  packages/app/package.json
  yarn.lock
Owners: @backstage/maintainers

Added asset for no image on bridge
  plugins/bridge-app-plugin/src/assets/no-image.png
  plugins/bridge-app-plugin/src/components/CourseListPage/CourseListPage.tsx
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/gcp-projects/src/components/NewProjectPage/templates.ts
Owners: @trivago/ebarrios

Added import for image not found
  plugins/bridge-app-plugin/src/components/CourseListPage/CourseListPage.tsx
Owners: @trivago/ebarrios

Fixed asset for no image found
  plugins/bridge-app-plugin/package.json
  plugins/bridge-app-plugin/src/components/CourseListPage/CourseListPage.tsx
  yarn.lock
Owners: @trivago/ebarrios, @backstage/maintainers

Improve the tagging recognition on bridge-plugin
  plugins/bridge-app-plugin/src/api/index.ts
Owners: @trivago/ebarrios

Made gcp-plugin able to create prs. it is hardcoded for frontdesk-development namespace for now
  plugins/gcp-projects/package.json
  plugins/gcp-projects/src/api/GcpClient.ts
  plugins/gcp-projects/src/api/types.ts
  plugins/gcp-projects/src/components/CreationStatus/CreationStatus.tsx
  plugins/gcp-projects/src/components/CreationStatus/index.ts
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/gcp-projects/src/components/NewProjectPage/templates.ts
  plugins/gcp-projects/src/plugin.ts
Owners: @trivago/ebarrios

Made gcp-projects append to file if it exists
  app-config.prod.yaml
  app-config.stage.yaml
  app-config.yaml
  plugins/gcp-projects/package.json
  plugins/gcp-projects/src/api/GcpClient.ts
  plugins/gcp-projects/src/components/CreationStatus/CreationStatus.tsx
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
Owners: @backstage/maintainers, @trivago/ebarrios

Added config values for stage and prod for gcp-projects plugin
  app-config.prod.yaml
  app-config.stage.yaml
Owners: @backstage/maintainers

Change repo name for stage to gcp-shared-config-stage
  app-config.stage.yaml
Owners: @backstage/maintainers

Updated bridge plugin to mimic the new opensource created one
  plugins/bridge-app-plugin/README.md
  plugins/bridge-app-plugin/package.json
  plugins/bridge-app-plugin/src/components/CourseListPage/CourseListPage.tsx
  plugins/bridge-app-plugin/src/plugin.ts
Owners: @trivago/ebarrios

Added github tag to gcp-projects template
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/kinds/TemplateEntityV1alpha1.ts
  plugins/gcp-projects/src/api/types.ts
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/scaffolder-backend/src/scaffolder/stages/publish/github.ts
  plugins/scaffolder-backend/src/scaffolder/stages/publish/types.ts
  plugins/scaffolder-backend/src/service/router.ts
Owners: @backstage/maintainers, @trivago/ebarrios

Improving gcp-projects plugin PR bull
  plugins/gcp-projects/README.md
  plugins/gcp-projects/src/api/types.ts
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/gcp-projects/src/components/NewProjectPage/templates.ts
Owners: @trivago/ebarrios

Added groups.tf to pr for gcp-project plugin
  plugins/gcp-projects/README.md
  plugins/gcp-projects/src/api/GcpClient.ts
  plugins/gcp-projects/src/api/types.ts
  plugins/gcp-projects/src/components/CreationStatus/CreationStatus.tsx
  plugins/gcp-projects/src/components/NewProjectPage/NewProjectPage.tsx
  plugins/gcp-projects/src/components/NewProjectPage/templates.ts
Owners: @trivago/ebarrios

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @backstage/maintainers
/.changeset/cost-insights-*          @spotify/silver-lining
/.changeset/cost-insights-*          @backstage/silver-lining
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/docs/features/techdocs              @backstage/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/argocd                      @trivago/ebarrios
/plugins/bridge-app-plugin           @trivago/ebarrios
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/cost-insights               @spotify/silver-lining
/plugins/cost-insights               @backstage/silver-lining
/plugins/gcp-projects                @trivago/ebarrios
/plugins/github-prs                  @trivago/ebarrios
/plugins/grafana                     @trivago/ebarrios
/plugins/search                      @backstage/techdocs-core
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs                    @backstage/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core
/plugins/techdocs-backend            @backstage/techdocs-core
